<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Parallel Test Suite" parallel = "tests" thread-count = "7">
   <test name = "Parallel Chrome">
         <parameter name="browser" value="chromeRemoteDriver"/>
         <groups>
      		<run>
        		<include name="web" />
      		</run>
    	 </groups>
      <classes>
         <class name = "com.mphasis.qe.runner.ChromeRemoteTest" />
      </classes>
   </test>
   
   <test name = "Parallel Firefox">
   <parameter name="browser" value="firefoxRemoteDriver"/>
   <groups>
      		<run>
        		<include name="web" />
      		</run>
    	 </groups>
      <classes>
          <class name = "com.mphasis.qe.runner.FirefoxTest" />
      </classes>
   </test>
   
   <test name = "Parallel Edge">
   <parameter name="browser" value="edgeRemoteDriver"/>
   <groups>
      		<run>
        		<include name="web" />
      		</run>
    	 </groups>
      <classes>
         <class name = "com.mphasis.qe.runner.EdgeTest" />
      </classes>
   </test>
   
   <test name = "Parallel IE">
   <parameter name="browser" value="ieRemoteDriver"/>
   <groups>
      		<run>
        		<include name="web" />
      		</run>
    	 </groups>
      <classes>
         <class name = "com.mphasis.qe.runner.IETest" />
      </classes>
   </test>
   
   <test name = "Parallel Safari">
   <parameter name="browser" value="safariRemoteDriver"/>
   <groups>
      		<run>
        		<include name="web" />
      		</run>
    	 </groups>
      <classes>
          <class name = "com.mphasis.qe.runner.SafariTest" />
      </classes>
   </test>
   
   <test name = "Parallel appiumiOSRemoteDrver">
   <parameter name="browser" value="appiumRemoteDrver"/>
   <groups>
      		<run>
        		<include name="web" />
        		<include name="iOS" />
      		</run>
    	 </groups>
      <classes>
          <class name = "com.mphasis.qe.runner.appiumiOSRemoteDrver" />
      </classes>
   </test>
   
   <test name = "Parallel appiumAndroidRemoteDrver">
   <parameter name="browser" value="appiumRemoteDrver"/>
   <groups>
      		<run>
        		<include name="web" />
        		<include name="android" />
      		</run>
    	 </groups>
      <classes>
          <class name = "com.mphasis.qe.runner.appiumAndroidRemoteDrver" />
      </classes>
   </test>
</suite>