<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parallel Test Suite" parallel="tests" thread-count="2" verbose="1" configfailurepolicy="continue">
	<test name="Parallel edge" >
		<classes>
			<class name="com.mphasis.qe.runner.ParallelRunnerTest" />
			<parameter name="browser" value="edge" />
		</classes>
	</test>
	<test name="Parallel Chrome">
		<classes>
			<class name="com.mphasis.qe.runner.ParallelRunnerTest" />
			<parameter name="browser" value="chrome" />
		</classes>
	</test>
	<!-- 	<test name="Parallel Firefox">
            <classes>
                <class name="com.mphasis.qe.runner.ParallelRunnerTest" />
                <parameter name="browser" value="firefox" />
            </classes>
        </test>
        <test name="Parallel ie" >
            <classes>
                <class name="com.mphasis.qe.runner.ParallelRunnerTest" />
                <parameter name="browser" value="ie" />
            </classes>
        </test>
        <test name="Parallel safari" >
            <classes>
                <class name="com.mphasis.qe.runner.ParallelRunnerTest" />
                <parameter name="browser" value="safari" />
            </classes>
        </test>
        <test name="Parallel android" >
            <classes>
                <class name="com.mphasis.qe.runner.ParallelRunnerTest" />
                <parameter name="browser" value="android" />
            </classes>
        </test>
        <test name="Parallel iOS" >
            <classes>
                <class name="com.mphasis.qe.runner.ParallelRunnerTest" />
                <parameter name="browser" value="iOS" />
            </classes>
        </test> -->
</suite>